meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" /> 
link(rel="stylesheet", href="/css/AgricultureOffice/index.css")
link(rel="stylesheet", href="/css/AgricultureOffice/include.css")
//  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
script(src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js")
link(rel="stylesheet", href="/css/AgricultureOffice/registered-pages.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css")
title U-Farm
div(w3-include-html="/includes/sidebar.html")
// Container Main start
.height-100.bg-light
  .bg-cover
    
      .table-responsive-sm
        table.table.table-hover
          thead.table-dark
            tr
              th #
              th Full Name
              th Email
              th D.O.R
              th D.O.B
              th NIN
              th Unique 
              th Gender
              th Phone
              th Ward 
              th Role 
              th Action 
              th Action 
              th Status 
          tbody
            if register.length
              - var counts = 1
                each registers in register
                  tr
                    td #{counts}
                    td #{registers.fullname}
                    td #{registers.email}
                    td #{registers.dor}
                    td #{registers.dob}
                    td #{registers.nin}
                    td #{registers.unique}
                    td #{registers.gender}
                    td #{registers.phone}
                    td #{registers.ward}
                    td #{registers.role}
                    td
                      //- sending information to the backend through forms
                      form(method="post" action="/signupfarmer/delete")
                          input(type="hidden", name="id", value=registers.id)
                          button.btn.btn-danger(type="submit") Delete
                    td 
                          a.btn.btn-dark.btn-block(href="/register-farmer-edit/"+registers.id) Edit
                    -  counts = counts + 1

            else 
                p no farmer has registered yet
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XvoEmcPbYJoKT0Z", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
script(src="/js/AgricultureOffice/register-farmone.js")
script(src="/js/AgricultureOffice/sidebar.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/css/bootstrap/js/bootstrap.bundle.min.js")
script(src="/js/includes.js")