doctype html
| PASTE YOUR HTML CODE HERE
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel='stylesheet' href="/css/AgricultureOffice/register-admin.css")
link(rel='stylesheet' href="/css/AgricultureOffice/index.css")
link(rel='stylesheet', href='/css/AgricultureOffice/include.css')


link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css")
link(rel="stylesheet", type="text/css", href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
script(src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js")
link(rel="stylesheet", href="/css/AgricultureOffice/registered-pages.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css")
title U-Farm
div(w3-include-html="/includes/sidebar.html")
// Container Main start
.height-100.bg-light
  .bg1
    .bg2
      article.card-body.mx-auto(style="max-width: 400px;")
        h4.card-title.mt-3.text-center Create Account
        p.text-center Let Work Together to Make Earning Easier
        form#regform(action="/register-admin-edit", name="register", onsubmit="return validation(event);", method="post")
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-user
                |  
            input.form-control#fullName(name="fullname", placeholder="Full name", type="text", value=register.fullname)
            small#fnameErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-envelope
                |  
            input.form-control#email(name="email", placeholder="Email address", type="email" value=register.email)
            small#emailErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i D.O.R
                |  
            input.form-control#dor(name="dor", placeholder="Date Of Registeration", type="date", value=register.dor readonly)
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i D.O.B
                |  
            input.form-control#dob(name="dob", placeholder="Date Of Birth", type="date" value=register.dob)
            small#dobErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i NIN
                |  
            input.form-control#nin(name="nin", placeholder="NIN Number", type="text" value=register.nin)
            small#ninErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i Unique
                |  
            input.form-control#unique(name="unique", placeholder="AO-0984", type="text" value=register.unique)
            small#uniqueErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i Gender
                |  
            |    

            label.label2
              input.gender#gmale(name="gender", type="radio", value=register.gender)
              span Male
            label
              input.gender#gfemale(name="gender", type="radio", value=register.gender)
              span Female
              small#gfemaleErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-phone
                |  
            select.custom-select#country-code(style="max-width: 120px;")
              option(selected) +256
              option(value="1") +254
              option(value="2") +255
              option(value="3") +234
            input.form-control#phoneInput(name="phone", placeholder="Phone number", type="text" value=register.phone)
            small#phonenumErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i Ward
                |  
            input.form-control#ward(name="ward", placeholder="Ward Name", type="text" value=register.ward)
            small#wardErr
          //  form-group// 
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-building
                |  
            select#activities.form-control
              option(selected) Activites Undertaken
              option Crop Farming
              option Livestock Farming
              option Fruit Farming
              option seedline Farming
            small#activitiesErr
          
          //  form-group// 
          .form-group
            button.btn.btn-color.btn-block(type="submit") Update Admin
          
script(type='text/javascript', src="/js/AgricultureOffice/register-admin.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type='text/javascript', src="/css/bootstrap/js/bootstrap.bundle.min.js")
script(type='text/javascript',src="/js/includes.js")