doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include ../../public/css/service.css
    include ../../public/css/bootstrap/css/bootstrap.css
    include ../../public/css/bootstrap/css/bootstrap.min.css
    include ../../public/css/bootstrap/css/bootstrap-grid.css
  script(src='https://kit.fontawesome.com/494d29de48.js' crossorigin='anonymous')
  link(rel='stylesheet' href='../css/service.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  
 
  title U-Farm
// Navbar start
div(w3-include-html='../includes/navbar.html')
// Navbar end
// Searchbar start
.container
  .row.height.d-flex.justify-content-center.align-items-center
    .col-md-8
      .search
        i.fa.fa-search
        form(method="post", action="/service")
          input.form-control(type='text' name="search" placeholder='Search For Products')
          button.btn.btn-primary Search
  
// Searchbar End
// Card start

.bg1
  .container
    .row
      each product in products
        .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
          img.mx-auto.img-thumbnail(src=product.image class="product-image")
          .card-body.text-center.mx-auto
            .cvp
              h5.card-title.font-weight-bold #{product.name}
              p.card-text UGX #{product.price}
              .btn-flex
                a.btn.details.px-auto(href='#') AddCart
                a.btn.det.px-4(onclick=`viewProduct('${product._id}')`) View
// Card end
.space
// footer start
div(w3-include-html='../includes/footer.html')
// footer end
script(src='../js/includes.js')
script(src='../css/bootstrap/js/bootstrap.js')
script.
  function viewProduct(productId) {
    // Open the product view page in a new window as a pop-up
    window.open(`/service/${productId}`, 'product-view', 'height=400,width=600');
  }
  function openModal() {
        document.getElementById('productModal').style.display = 'block';
      }
 